# Supabase CLI Configuration
# Learn more: https://supabase.com/docs/guides/cli

project_id = "qenqilourxtfxchkawek"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public", "test"]
extra_search_path = ["public", "extensions", "test"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 17

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv4"

[studio]
enabled = true
port = 54324
api_url = "http://127.0.0.1"

[inbucket]
enabled = true
port = 54325
smtp_port = 54326
pop3_port = 54327

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "https://acrely.pinnaclegroups.ng"
additional_redirect_urls = ["https://acrely.pinnaclegroups.ng", "http://localhost:3000", "http://localhost:3001"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false


